<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <extensions xdt:Transform="Replace">
    <add assembly="NLog.Redis" />
    <add assembly="NLog.Extended" />
  </extensions>
  <targets xdt:Transform="Replace">

    <target xsi:type="Redis" name="redis" host="#{redis-host}" port="#{redis-port}" db="#{redis-db}"
            key="#{redis-key}" dataType="list">
      <layout xsi:type="JsonLayout">
        <attribute name="lvl" layout="${level:upperCase=true}" />
        <attribute name="msg" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString:maxInnerExceptionLevel=10}" />
        <attribute name="env" layout="${appsetting:name=env-name}" />
        <attribute name="appName" layout="${appsetting:name=app-name}" />
      </layout>
    </target>
  </targets>
  <rules xdt:Transform="Replace">
    <logger name="*" writeTo="redis" />
  </rules>
</nlog>